---
stages:
  - build
  - promote

build:images:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: []
  script:
    - mkdir -p /root/.docker
    - echo "{\"auths\":{\"${CI_REGISTRY}\":{\"username\":\"${CI_REGISTRY_USER}\",\"password\":\"${CI_JOB_TOKEN}\"}}}" > /root/.docker/config.json
    - /kaniko/executor --context ${CI_PROJECT_DIR} --dockerfile base/Dockerfile $DOCKER_PROXY --destination "${CI_REGISTRY_IMAGE}:latest"
    - /kaniko/executor --context ${CI_PROJECT_DIR} --dockerfile checks/Dockerfile $DOCKER_PROXY --destination "${CI_REGISTRY_IMAGE}:latest-checks"
  only:
    - master

promote:images:
  stage: promote
  image: ananace/skopeo
  script:
    - /skopeo copy --src-creds "${CI_REGISTRY_USER}:${CI_JOB_TOKEN}" --dest-creds "${PROMOTE_USER}:${PROMOTE_PASS}" "docker://${CI_REGISTRY_IMAGE}:latest" "docker://${PROMOTE_IMAGE}:latest"
    - /skopeo copy --src-creds "${CI_REGISTRY_USER}:${CI_JOB_TOKEN}" --dest-creds "${PROMOTE_USER}:${PROMOTE_PASS}" "docker://${CI_REGISTRY_IMAGE}:latest-checks" "docker://${PROMOTE_IMAGE}:latest-checks"
  variables:
    GIT_STRATEGY: none
  only:
    refs:
      - master
    variables:
      - $PROMOTE_USER
      - $PROMOTE_PASS
      - $PROMOTE_REGISTRY
      - $PROMOTE_IMAGE
